{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block cont %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Subscribe for activity</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Join the activity now</button>
            </div>
        </form>
    </div>
{% endblock %}